<!DOCTYPE html>
{% load static %}
<html lang="pl">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Bootstrap - Prebuilt Layout</title>

		<!-- Bootstrap -->
		<link href="{% static 'css/bootstrap-4.3.1.css' %}" rel="stylesheet">
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	</head>
	<body>
	  <nav class="navbar navbar-expand-md navbar-dark bg-dark">    
			<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<div class="navbar-nav">
					<a href="{% url 'home' %}" class="nav-item nav-link active">Strona główna</a>
					<a href="{% url 'nawyki' %}" class="nav-item nav-link">Moje nawyki</a>
					<a href="{% url 'stats' %}" class="nav-item nav-link">Statystyki</a>
				</div>
				<div class="navbar-nav ml-auto">
					<a href="{% url 'login' %}" class="nav-item nav-link">Logowanie</a>
					<a href="{% url 'register' %}" class="nav-item nav-link">Rejestracja</a>
				</div>
			</div>
		</nav>

		<div class="jumbotron jumbotron-fluid text-center">
			<h1 class="display-3">Ta strona pomoże wyrobić twoje nawyki</h1>
		</div>
		<div class="card-footer fixed-bottom">
			<div class="text-center col-lg-6 offset-lg-3">
				<p>Copyright &copy; 2020 &middot; All Rights Reserved</p>
			</div>
		</div>
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
		<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>

		<!-- Include all compiled plugins (below), or include individual files as needed --> 
		<script src="{% static 'js/popper.min.js' %}"></script>
		<script src="{% static 'js/bootstrap-4.3.1.js' %}"></script>
	</body>
</html>
