{% load static %}
<!DOCTYPE html>
<html lang="pl">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Bootstrap - Prebuilt Layout</title>

		<!-- Bootstrap -->
		<link href="{% static 'css/bootstrap-4.3.1.css' %}" rel="stylesheet">
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<nav class="navbar navbar-expand-md navbar-dark bg-dark">    
			<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<div class="navbar-nav">
					<a href="{% url 'home' %}" class="nav-item nav-link">Strona główna</a>
					<a href="{% url 'nawyki' %}" class="nav-item nav-link">Moje nawyki</a>
					<a href="{% url 'stats' %}" class="nav-item nav-link active">Statystyki</a>
				</div>
				<div class="navbar-nav ml-auto">
					<span class="nav-item nav-link active">Witaj {{request.user}}</span>
					<a href="{% url 'logout' %}" class="nav-item nav-link">Wyloguj</a>
				</div>
			</div>
		</nav>

		<div class="jumbotron jumbotron-fluid text-center">
			<h3 class="display-4">Twoje statystyki</h1>
			<form method="POST">
				{% csrf_token %}
				<label name="date-from">Od: </label>
				<input type="date" max="{{ time|date:'Y-m-d'}}" name="date-from" required>
				<label name="date-to">do: </label>
				<input type="date" max="{{ time|date:'Y-m-d'}}" name="date-to" required>
				<input type="submit" value="Filtruj" class="btn-info">
				<div>	
					<canvas class="" id="Chart" style="max-width: 60%; max-height: 90%; margin: auto"></canvas>
				</div>
			</form>
		</div>
		<div class="card-footer fixed-bottom">
			<div class="text-center col-lg-6 offset-lg-3">
				 <p>Copyright &copy; 2020 &middot; All Rights Reserved</p>
			</div>
		</div>
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
		<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed --> 
		<script src="{% static 'js/popper.min.js' %}"></script>
		<script src="{% static 'js/bootstrap-4.3.1.js' %}"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
		<script type="text/javascript">
			var ctx = document.getElementById('Chart');
			var myChart = new Chart(ctx, {
				type: 'bar',
				data: {
					labels: ['{{ labels|join:"', '" }}'],
					datasets: [{
						label: 'Liczba wykonanych rzeczy',
						data: {{ data }},
						backgroundColor: 'rgba(255, 0, 0, 0.2)',
						borderColor: 'rgba(255, 0, 0, 1)',
						borderWidth: 1
					}]
				},
				options: {
					scales: {
						yAxes: [{
							ticks: {
								beginAtZero: true
							}
						}]
					}
				}
			});
		</script>
	</body>
</html>